name: Run Spring Boot App

on:
  push:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Spring Boot application
        run: mvn clean package -DskipTests

      - name: Run Spring Boot application
        run: |
          java -jar target/*.jar
